extends ../layout

block content
  .jumbotron
    .card.text-center     
      .card-body
        .card-title.col-1 BST        
        img(src='images/logo/angular.png').col-2
        img(src='images/logo/react.png').col-2
        img(src='images/logo/nodejs.png').col-1
        //img(src='images/logo/go.png').col-1
        img(src='images/logo/java.png').col-1
        img(src='images/logo/springboot.png').col-2
        img(src='images/logo/postgresql.png').col-1
        img(src='images/logo/mongodb.png').col-2

    .card.text-center.my-4     
      .card-body
        .card-title.col-1 PST       
        img(src='images/logo/jira.png').col-1
        img(src='images/logo/confluence.png').col-1
        img(src='images/logo/teams.png').col-1
        img(src='images/logo/gitlab.png').col-1
        img(src='images/logo/sonarqube.png').col-1
        img(src='images/logo/postman.png').col-1
        img(src='images/logo/selenium.png').col-1.p-5     
        img(src='images/logo/jenkins.png').col-1
        img(src='images/logo/artifactory.png').col-1
        img(src='images/logo/docker.png').col-1
   
    .card.text-center      
      .card-body
        .card-title.col-1 CST
        img(src='images/logo/terraform.png').col-1
        img(src='images/logo/ansible.png').col-1
        img(src='images/logo/openshift.png').col-2
        img(src='images/logo/azure.png').col-2
        img(src='images/logo/elk.png').col-2.p-5
        img(src='images/logo/dynatrace.png').col-2


