extends layout

block content
  .jumbotron
    .row
      .col-3
        .card.text-center
          .card-body
            .card-title CI/CD
            img(src='https://media.jfrog.com/wp-content/uploads/2017/12/20133018/artifactory.png').w-50
            img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/GitLab_logo.png/799px-GitLab_logo.png').w-50
            img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Jenkins_logo_with_title.svg/1280px-Jenkins_logo_with_title.svg.png').w-75
            img(src='https://i.blogs.es/2fc992/docker_logo/450_1000.png').w-50
            img(src='https://www.returngis.net/wp-content/uploads/2020/01/Terraform-logo.png').w-25
            img(src='https://upload.wikimedia.org/wikipedia/commons/0/05/Ansible_Logo.png').w-25
            
        
        .card.text-center.my-4
          .card-body
            .card-title COLLABORATION
            img(src='https://wac-cdn.atlassian.com/dam/jcr:9e1841b9-2557-4eb2-ab47-d92428580b02/Jira%20Software@2x-blue.png').w-75.my-5
            img(src='https://www.atlassian.com/es/dam/jcr:a22c9f02-b225-4e34-9f1d-e5ac0265e543/Confluence@2x-blue.png').w-75
            img(src='https://logodownload.org/wp-content/uploads/2019/08/slack-logo.png').w-50.my-5
      .col-6
        .card.text-center
          .card-body.layers
            .card-title FRONT
            img(src='https://anthoncode.com/wp-content/uploads/2019/01/angular-logo-png.png').h-75
            img(src='https://betabeers.com/uploads/blog/20170420_React_logo_wordmark.png').h-50.px-5
        
        .card.text-center.my-2
          .card-body.layers
            .card-title BFF
            img(src='https://www.lomasnuevo.net/wp-contentupl/2017/07/nodejs_logo.png').h-75
            img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Go_Logo_Blue.svg/1200px-Go_Logo_Blue.svg.png').h-50.px-5
        
        .card.text-center
          .card-body.layers
            .card-title BACKEND
            img(src='https://i.blogs.es/8d2420/650_1000_java/450_1000.png').h-75
            img(src='https://4.bp.blogspot.com/-TevOgPVC2dE/WnILAnucRVI/AAAAAAAAGU4/Y0eg10SP5f4niLZAKex2EeRDvJkGfP7vgCPcBGAYYCw/s1600/spring-boot.png').h-75.px-5
        
        .card.text-center.my-2
          .card-body.layers
            .card-title DATABASE
            img(src='https://www.unixmen.com/wp-content/uploads/2017/07/postgresql-logo.png').h-75
            img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/MongoDB_Logo.svg/1280px-MongoDB_Logo.svg.png').h-50.px-5

        .card.text-center
          .card-body.layers
            .card-title PLATFORM
            img(src='https://i.pinimg.com/originals/28/46/bb/2846bb532d7d2f428121244d6545b51e.png').h-50
            img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Microsoft_Azure_Logo.svg/800px-Microsoft_Azure_Logo.svg.png').h-50.px-5
      .col-3
        .card.text-center
          .card-body.py-5
            .card-title QUALITY
            img(src='https://i2.wp.com/www.quantika14.com/blog/seguridad-inform%C3%A1tica-sevilla/uploads/sonarqube_logo_720.png?fit=720%2C200&ssl=1').w-75
            img(src='https://testerhouse.com/wp-content/uploads/2019/09/postman-logo.png').w-50.m-4
            img(src='https://upload.wikimedia.org/wikipedia/commons/d/d5/Selenium_Logo.png').w-25

        .card.text-center.my-4
          .card-body.py-5
            .card-title.py-5 OPS
            img(src='https://www.seekpng.com/png/full/221-2211816_elk-stack-logo.png').w-50
            img(src='https://assets.dynatrace.com/content/dam/dynatrace/misc/dynatrace_web.png').w-75.m-4


