extends layout

block content
  .jumbotron
    .row
      .col-3
        .card.text-center
          .card-header CI/CD
          .card-body           
            img(src='images/artifactory.png').w-50
            img(src='images/gitlab.png').w-50           
            img(src='images/jenkins.png').w-75
            img(src='images/docker.png').w-50
            img(src='images/terraform.png').w-25
            img(src='images/ansible.png').w-25
            
        
        .card.text-center.my-4
          .card-header COLLABORATION
          .card-body            
            img(src='images/jira.png').w-75.my-5
            img(src='images/confluence.png').w-75
            img(src='images/teams.png').w-75.my-5
            
      .col-6
        .card.text-center
          .card-header FRONTEND
          .card-body.layers           
            img(src='images/angular.png').w-25
            img(src='images/react.png').w-25.px-5
        
        //.card.text-center.my-2
          .card-header BFF
          .card-body.layers            
            img(src='images/nodejs.png').h-100
            img(src='images/go.png').h-75.px-5
        
        .card.text-center.my-2
          .card-header BACKEND
          .card-body.layers 
            img(src='images/java.png').h-100
            img(src='images/springboot.png').h-100.px-5
            img(src='images/nodejs.png').h-100
        
        .card.text-center
          .card-header DATABASE
          .card-body.layers           
            img(src='images/postgresql.png').h-100
            img(src='images/mongodb.png').h-75.px-5

        .card.text-center.my-2
          .card-header PLATFORM
          .card-body.layers           
            img(src='images/openshift.png').h-50
            img(src='images/azure.png').h-50.px-5
            img(src='images/vmware.png').h-100
      
      .col-3
        .card.text-center
          .card-header QUALITY
          .card-body   
            img(src='images/sonarqube.png').w-75
            img(src='images/postman.png').w-50.m-4
            img(src='images/selenium.png').w-25
            img(src='images/jmeter.png').w-50

        .card.text-center.my-4
          .card-header OPS
          .card-body.py-5
            img(src='images/elk.png').w-50
            img(src='images/dynatrace.png').w-75.m-4
            //img(src='images/jiraservicedesk.png').w-100
            img(src='images/servicenow.png').w-75


