doctype html
html
  head
    title= title
    link(rel='icon' href='images/favicon.ico')  
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet' href='css/style.css')
  body
    header       
      nav.navbar.navbar-expand-lg.bg-dark.fixed-top
          a(href="./").col-2.col-sm-3 
              img(src='images/logo.png', alt="")
    block content
    footer.fixed-bottom.p-2
        span © TSOFT SpA - Todos los derechos Reservados tsoft.
        img(src='images/footer.png').float-right
