extends layout

block content
  .jumbotron
    .card.text-center     
      .card-body
        .card-title BST        
        img(src='images/angular.png').col-2
        img(src='images/react.png').col-2
        img(src='images/nodejs.png').col-1
        //img(src='images/go.png').col-1
        img(src='images/java.png').col-1
        img(src='images/springboot.png').col-2
        img(src='images/postgresql.png').col-1
        img(src='images/mongodb.png').col-2

    .card.text-center.my-4     
      .card-body
        .card-title PST       
        img(src='images/jira.png').col-1
        img(src='images/confluence.png').col-1
        img(src='images/slack.png').col-1
        img(src='images/gitlab.png').col-1
        img(src='images/sonarqube.png').col-1
        img(src='images/postman.png').col-1
        img(src='images/selenium.png').col-1.p-5     
        img(src='images/jenkins.png').col-1
        img(src='images/artifactory.png').col-1
        img(src='images/docker.png').col-1
   
    .card.text-center      
      .card-body
        .card-title CST
        img(src='images/terraform.png').col-1
        img(src='images/ansible.png').col-1
        img(src='images/openshift.png').col-2
        img(src='images/azure.png').col-2
        img(src='images/elk.png').col-2.p-5
        img(src='images/dynatrace.png').col-2


