body {
    padding: 0 20px;
    padding-top: 60px;
}

.card-header {
    font-weight: bolder;
    font-size: 1.2vw;
}

.card-title {
    font-weight: bolder;
    font-size: 2.5vw;
}

.layers {
    height: 140px;
}


/* Navbar */

nav {
    background: linear-gradient(90deg, #e2051b, #a3191c);
}

nav img {
    height: 1.5rem;
    margin: 5px;
}